* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3e5d8 !important;
    display: grid;
    place-items: center;
}

.card-recipe {
    width:40rem;
}

.rec-heading {
    font-size: 5rem;
}

.rec-para {
    font-size: 1.6rem;
}

.rec-box {
    background-color: #fff7fc;
}

.rec-prep-time {
    font-size: 4rem;
    text-align: justify;
    color: #966179;
}

.rec-ingre {
    color: #975726;
    font-size: 4rem;
    text-align: justify;
}

.ing-items {
    color: #a78b89;
    font-size: 2rem;
    line-height:4rem;
    display: inline-block;
    text-align: left;
}



.rec-inst {
    color: #975726;
    font-size: 4rem;
}

.inst-items {
    color: #a78b89;
    display: inline-block;
    text-align: left;
    font-size:2rem;
    line-height: 4.5rem;
}

.prep-items {
    color: #5b5255;
    font-size: 1.8rem;
    line-height: 3.5rem;
    display: inline-block;
    text-align: left;
}

.rec-nutr {
    color: #975726;
    font-size: 4rem;
}

.nutr-text {
    text-align: justify;
    font-size: 2rem;
}

.nutr-item1 {
    text-align: justify;
    font-size: 2rem;
}

.nutr-item2 {
    text-align: justify;
    font-size: 2rem;
    color: #975726;
}

@media (min-width: 576px) { 
    body {
        background-color: #f3e5d8 !important;
        display: grid;
        place-items: center;
    }

    .rec-heading {
        font-size: 2rem;
    }
    .card-recipe {
        width:37rem;
        border-radius: 1rem !important;
    }

    .rec-image {
        width: 32.8rem;
        margin-left: auto;
        margin-right: auto;
        margin-top:1rem;
        border-radius: 0.5rem;
    }

    .rec-box {
        background-color:#fff7fc;
        width: 38rem;
        border-radius: 0.5rem;
    }

    .rec-para {
        font-size: 0.7rem;
    }

    .rec-prep-time {
        font-size: 0.9rem;
        text-align: justify;
        color: #854864;
    }

    .prep-items {
        color: #5b5255;
        font-size: 0.8rem;
        line-height: 1.8rem;
        display: inline-block;
        text-align: left;
    }

    .rec-ingre {
        color: #975726;
        font-size: 1.5rem;
    }

    .ing-items {
        color: #a0857c;
        font-size: 1rem;
        line-height: 2rem;
        display: inline-block;
        text-align: left;
    }

    .rec-inst {
        color: #975726;
        font-size: 1.5rem;
    }

    .inst-items {
        color: #a78b89;
        display: inline-block;
        text-align: left;
        font-size: 1rem;
        line-height: 2.5rem;
    }

    .rec-nutr {
        color: #975726;
        font-size: 1.6rem;
    }

    .nutr-text {
        color:#a8a8a8;
        font-size: 0.9rem;
    }

    .nutr-item1 {
        text-align: justify;
        font-size: 1rem;
    }

    .nutr-item2 {
        text-align: justify;
        font-size: 1rem;
        color: #975726;
    }
}